[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Abdurashid2004
	email = 145638886+Abdurashid2004@users.noreply.github.com
